/*global*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
img{
    max-width: 100%;
}
a{
    color:black;
    text-decoration: none;
}
h2,h3,h4{
    text-transform: uppercase;
}
/*utilities*/
.container{
    width:95%;
    margin-right: auto;
    margin-left: auto;
}
/*navigation*/
nav.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
    padding:5px 20px;
}
nav.menu img{
    height: 32px;
}
img.natgeo-frame{

}
img.natgeo-logo{
    display: none;
}
a.login-link{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-right: 25px;
}
a.search-link{
    display: none;
}
a.news-link{
    display: none;
}
a.subs-link{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-right: 25px;
    background-color: black;
    color:white;
    padding:15px
}
a.menu-link span{
    display: none;
}
/*header*/  
header{
    height: 250px;
    color:white;
}
p.title{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}
p.description{

}
p.description span{

}
div.border{

}

/*main news*/
.main-news{
    position: relative;/*the parent*/
}
.main-news-img{

}
.main-news-text{
    position: absolute;/*the child*/
    top:120px;
    left:30px;
    color:white;
}
.main-news-text h3{
    font-size: 12px;
    letter-spacing: 3px;
}
.main-news-text p{
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.main-news-text h4{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
}
/*secondary news*/
.secondary-news{
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.secondary-news:hover img{
    border-bottom: 5px solid #ffcc00;
    transform: scale(1.1);
}
.secondary-news-img img{
    height: 250px;
    min-width:100%;
}
.secondary-news-text{
    background-color: white;
    height: 110px;
    padding:20px;
    margin-top: -10px;
}
.secondary-news-text h3{
    font-size: 12px;
    letter-spacing: 3px;
    color:gray;
    margin-bottom: 20px;
}
.secondary-news-text h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.secondary-news-text p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.secondary-news-text h4{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: bold;
}

.todays-picks h2{
    font-size: 32px;
    text-transform: uppercase;
    color:white;
    letter-spacing: 3px;
    border-left:5px solid #ffcc00;
    padding-left:20px;
    margin-bottom: 40px;
}
.pick-element{
    display:flex;
    align-items: center;
}
.pick-element-img{
    width:100px;
}
.pick-element-text{
    color:white;
    padding:10px;
}
